<html>
<head>
    <title>Account was locked</title>
</head>

<body>
<h3>Account was locked</h3>
<div style="margin-top:  25px ;position: relative; font:15px">
    Please click the link in your email to unlock your account.
</div>

</body>
</html>