<%- include('head.ejs') %>

<h1>Account was Activated Successfully</h1>
<div style="margin-top:  25px ;position: relative; font:15px">
    Please try to /login again.
</div>

<%- include('foot.ejs') %>