<%- include('head.ejs') %>

<h1>Account Created Successfully</h1>
<div style="margin-top:  25px ;position: relative; font:15px">
        An activation message was sent to <span style="font-weight:bold"><%= email %></span><br>
        Please follow the instructions in the message to complete the authentication process.
</div>
<%- include('foot.ejs') %>