<%- include('head.ejs') %>

<h1>Account was locked</h1>
<div style="margin-top:  25px ;position: relative; font:15px">
    Please click the link in your email to unlock your account.
</div>
<%- include('foot.ejs') %>