<%- include('head.ejs') %>

<h1>Change Password</h1>

<% if (err_msg) { %>
    <div style="margin-top:  25px ;position: relative; color: red; font:15px">
        <span style="font-weight:bold"><%= err_msg %></span>
    </div>
<% } %>

<form method="post" action="/changePassword">
    <p>
        <label>current Password:</label>
        <input type="password" name="currentPassword">
    </p>
    <p>
        <label>new Password:</label>
        <input type="password" name="newPassword">
    </p>
    <p>
        <label>Retype Password:</label>
        <input type="password" name="retypedPassword">
    </p>
    <p>
        <input type="submit" value="Change Password">
    </p>
</form>

<%- include('foot.ejs') %>