
<% include('head') %>

<h1>Create Account</h1>
<%- message %>
<form method="post" action="/createAccount">
    <p>
        <label>email:</label>
        <input type="text" name="email">
    </p>
    <p>
        <label>password:</label>
        <input type="text" name="password">
    </p>
    <p>
        <label>Retype Password:</label>
        <input type="text" name="retypedPassword">
    </p>
    <p>
        <input type="submit" value="Create Account">
    </p>
</form>

<% include('foot'); %>