<%- include('head.ejs') %>


<h1>Create Account</h1>

<% if (err_msg) { %>
    <div style="margin-top:  25px ;position: relative; color: red; font:15px">
        <span style="font-weight:bold"><%= err_msg %></span>
    </div>
<% } %>

<form method="post" action="/createAccount">
    <p>
        <label>email:</label>
        <input type="text" name="email">
    </p>
    <p>
        <label>password:</label>
        <input type="text" name="password">
    </p>
    <p>
        <label>Retype Password:</label>
        <input type="text" name="retypedPassword">
    </p>
    <p>
        <input type="submit" value="Create Account">
    </p>
</form>

<%- include('foot.ejs') %>