<%- include('head.ejs') %>

<h1>Forgot Password</h1>

<% if (err_msg) { %>
    <div style="margin-top:  25px ;position: relative; color: red; font:15px">
        <span style="font-weight:bold"><%= err_msg %></span>
    </div>
<% } %>

<form method="post" action="/forgotPassword">
    Enter your email address below. If we have it on file, we will send you a reset email.
    <p>
        <label>email:</label>
        <input type="text" name="email">
    </p>
    <p>
        <input type="submit" value="Forgot Password">
    </p>
</form>

<%- include('foot.ejs') %>