
<% include('head') %>

<h1>Login</h1>
<%- message %>
Try accessing <a href="/restricted">/restricted</a>, then authenticate.
Not registered? <a href="/createAccountPage">create account</a>.
<form method="post" action="/login">
    <p>
        <label>Username:</label>
        <input type="text" name="username">
    </p>
    <p>
        <label>Password:</label>
        <input type="text" name="password">
    </p>
    <p>
        <input type="submit" value="Login">
    </p>
</form>
<a href="/forgotPasswordPage">Forgot password?</a>.

<% include('foot'); %>