
<%- include('head.ejs') %>

<h2>
    Wellcome to demo-app of authentication-flows-js. All flows, like create-account, forgot-password etc. are implemented
    by <a href="https://github.com/OhadR/authentication-flows-js">authentication-flows-js package</a>. Just add this package
    to your package.json, minimum set of configurations, and that is it!
</h2>

<h1>Login</h1>
<%- message %>
Authenticate to access <a href="/">secured page</a>.<br>
Not registered? <a href="/createAccount">create account</a>.
<form method="post" action="/login">
    <p>
        <label>Username:</label>
        <input type="text" name="username">
    </p>
    <p>
        <label>Password:</label>
        <input type="password" name="password">
    </p>
    <p>
        <input type="submit" value="Login">
    </p>
</form>
<a href="/forgotPassword">Forgot password?</a>.

<%- include('foot.ejs') %>