
<%- include('head.ejs') %>

<h1>Login</h1>
<%- message %>
Authenticate to access <a href="/">secured page</a>.<br>
Not registered? <a href="/createAccount">create account</a>.
<form method="post" action="/login">
    <p>
        <label>Username:</label>
        <input type="text" name="username">
    </p>
    <p>
        <label>Password:</label>
        <input type="password" name="password">
    </p>
    <p>
        <input type="submit" value="Login">
    </p>
</form>
<a href="/forgotPassword">Forgot password?</a>.

<%- include('foot.ejs') %>