<%- include('head.ejs') %>
<h1>Authentication-Flows JS Demo App - Restricted Area</h1>

<br>

<div>
    <p>
        you have successfully logged in using the authentication-flows framework.
        this framework also manages all other flows like create-account, forgot-password,
        change-password and account-lock after several bad retries.
    </p>
</div>

<%- include('foot.ejs') %>