<html>
    <head>
        <title>Password Changed Email Sent</title>
    </head>

    <body>
    <h3>Password Changed Email Sent</h3>
    <div style="margin-top:  25px ;position: relative; font:15px">
        A notification message was sent to <span style="font-weight:bold"><%= email %></span><br>
    </div>

    </body>
</html>