<%- include('head.ejs') %>
<h1>Password Changed Email Sent</h1>
<div style="margin-top:  25px ;position: relative; font:15px">
    A notification message was sent to <span style="font-weight:bold"><%= email %></span><br>
</div>

<%- include('foot.ejs') %>