<%- include('head.ejs') %>
<h1>Password Set Successfully</h1>
<div style="margin-top:  25px ;position: relative; font:15px">
    Password was set successfully. Please try to login.
</div>

<%- include('foot.ejs') %>