<html>
    <head>
        <title>Password Restore Email Sent</title>
    </head>

    <body>
    <h3>Password Restore Email Sent</h3>
    <div style="margin-top:  25px ;position: relative; font:15px">
        An restoration message was sent to <span style="font-weight:bold"><%= email %></span><br>
        Please follow the instructions in the message to restore your account.
    </div>

    </body>
</html>