
<% include('head') %>

<h1>Set New Password</h1>

<% if (err_msg) { %>
    <div style="margin-top:  25px ;position: relative; color: red; font:15px">
        <span style="font-weight:bold"><%= err_msg %></span>
    </div>
<% } %>

<form method="post" action="/setNewPassword">
    <p>
        <label>password:</label>
        <input type="text" name="password">
    </p>
    <p>
        <label>Retype Password:</label>
        <input type="text" name="retypedPassword">
    </p>
    <p>
        <label>hash:</label>
        <input disabled type="text" name="enc" value=<%= enc %> >
    </p>
    <p>
        <input type="submit" value="Submit">
    </p>
</form>

<% include('foot'); %>